@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');

body {
  overflow-x: hidden;
  background: #0B0D17;
}

nav {
  background: #979797;
  height: 100vh;
  width: 265px;
  position: absolute;
  right: 0;
  top: 0;
  
  transition: ease-in-out 0.5s right;
  z-index: 9000;
}

.nav-hide {
  right: -100vw;
  transition: ease-in-out 0.5s right;
}

.nav-control {
  position: absolute;
  z-index: 11000;
  right: 2vw;
  top: 2vh;
  cursor: pointer;
}

.nav-list {
  list-style-type: none;
  padding-top: 5.5em;
  padding-bottom: 0.55em;
}

.nav-itm {
  margin-bottom: 6vh;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-div {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
  margin-top: 8em;
}

.title,.txt {
  color: #D0D6F9;
}

.title {
  font-size: 16px;
  letter-spacing: 2.7px;
  width: 75%;
}


.titleSpan {
  font-family: 'Bellefair Condensed', Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 80px;
  line-height: 100px;
}

.txt {
  text-transform: initial;
  font-size: 15px;
  line-height: 25px;
  width: 72%;
}

.explore {
  position: absolute;
  left: 6em;
  top: 66vh;
  font-family: 'Bellefair Condensed', Arial, Helvetica, sans-serif;
  background: #FFFFFF;
  color: #0B0D17;
  text-transform: uppercase;
  border-radius: 50%;
  width: 5%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5em;
  cursor: pointer;
  z-index: 2000;
}

.destination,.crew,.technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #D0D6F9;
  font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.sub-txt,.travel-txt,.section-title,.crew-member-title,.crew-member-name,.terminology-title,.terminology-name {
  font-family: 'Bellefair Condensed', Arial, Helvetica, sans-serif;
}

.sub-txt,.travel-txt,.active,.section-title {
  color: #fff;
}

.destination-list, .crew-btn-div, .launch-btn-div {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.destination-itm {
  margin-right: 1.5em;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid #fff;
  padding-bottom: 15px;
  position: relative;
  top: 5.5px;
}

.section-title {
  text-transform: uppercase;
  font-size: 56px;
}

.section-txt {
  width: 80%;
  text-transform: initial;
}

.section-txt,.distance,.travel-time,.section-title {
  position: relative;
  bottom: 35px;
}

.section-txt,.distance,.travel-time {
  bottom: 75px;
}

.travel-time {
  bottom: 105px;
}

.sub-txt,.travel-txt {
  font-size: 28px;
}

.destination-title {
  text-transform: uppercase;
}

.destination-title span, .technology-title span,.crew-title span {
  opacity: 25%;
  margin-right: 15px;
}

.section-txt {
  padding-bottom: 15px;
  border-bottom: 2px solid #383B4B;
}

.crew-member-title {
  opacity: 49.51%;
  font-size: 22px;
}

.crew-member-name,.terminology-name {
  font-size: 28px;
  color: #fff;
}

.crew-txt,.technology-txt {
  text-transform: initial;
  font-size: 18px;
  width: 85%;
}

.img-border {
  border-top: 2px solid #383B4B;
  background: #383B4B;
  color: #0B0D17;
  width: 92vw;
  height: 0.25px;
  position: relative;
}

.crew-btn-div, .launch-btn-div {
  margin-top: 2em;
}

.crew-btn {
  border-radius: 50%;
  background: #fff;
  border: none;
  padding: 5px;
  margin-right: 15px;
  opacity: 17.44%;
  cursor: pointer;
}

.active-btn {
  opacity: 100%;
}

.launch-btn {
  background: transparent;
  border-radius: 50%;
  border: none;
  border: 2px solid #383B4B;
  color: #fff;
  padding: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.active-launch-btn {
  color: #0B0D17;
  background: #fff;
}