body {
    background-image: url('../images/destination/background-destination-desktop.jpg');
}

.data-set,.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.data-set .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.left img {
    position: relative;
    left: 4vw;
}

.data-set .right ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.data-set .right ul li {
    margin-right: 1em;
}

.title {
    position: relative;
    margin: 5em;
    width: 100%;
}

.location-link {
    position: absolute;
    top: 27vh;
    left: 45vw;
}

.current {
    position: absolute;
    right: 10.55em;
    top: -1em;
}

.right h2 {
    position: absolute;
    font-size: 100px;
    left: 11em;
}

.right p {
    width: 25%;
    position: absolute;
    bottom: 48vh;
    left: 35vw;
}

.moon {
    position: absolute;
    left: 4em;
}