body {
    background-image: url('../images/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
    z-index: 10;
}

.cover,.explore {
    z-index: 5000;
    color: #D0D6F9;
}

.explore-outer {
    background-color: #979797;
    opacity: 15.36%;
    width: 5%;
    padding: 10em;
    border-radius: 50%;
    position: absolute;
    left: 77vw;
    top: 68vh;
}

.cover {
    margin-top: 4em;
}

.travel, .title {
    text-transform: uppercase;
}

.title {
    color: #fff;
}

.explore {
    border-radius: 50%;
    color: #000;
    background-color: #fff;
    width: 5%;
    padding: 5em;
    cursor: pointer;
    position: absolute;
    left: 80vw;
    top: 72vh;
}

.show {
    display: inherit;
}