body {
    background-image: url('../images/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
    z-index: 10;
}

.cover,.explore {
    z-index: 5000;
    color: #D0D6F9;
}

.cover {
    margin-top: 4em;
}

.travel, .title {
    text-transform: uppercase;
}

.title {
    color: #fff;
}

.explore {
    border-radius: 50%;
    color: #000;
    background-color: #fff;
    width: 5%;
    padding: 5em;
    cursor: pointer;
}