.navitm {
    list-style-type: none;
    margin-right: 4em;
}

.linkItm {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.nav {
    position: relative;
    top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 4000;
    color: #fff;
    background-color: #979797;
}

.menu-itm {
    position: relative;
    left: 32vw;
    bottom: 1.5em;
}

img {
    position: relative;
    right: 35vw;
}

.icon {
    position: relative;
    right: 45vw;
    top: 4em;
}

.current {
    position: relative;
    border-bottom: 1px solid #fff;
    padding-bottom: 40px;
    line-height: 48px;
}

.home {
    margin-top: 2em;
}

.navbar .inactive:hover {
    position: relative;
    bottom: 0.15em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    padding-bottom: 40px;
    line-height: 48px;
}